@font-face {
	font-family: Roboto Condensed Light;
	src: url("RobotoCondensed-Light.ttf");
	src: url("./fonts/RobotoCondensed-Light.ttf");
}

#breakoutcanvas {
	border: 1px solid white;
}

body {
	background-color: black;
	color: white;
	font-family: 'Roboto Condensed Light';
}

h1 {
	margin-bottom: 15px;
}

select {
    width:70px;
    height:25px;
    border-radius: 10%;
    margin-right: 5px;
}

#startButton{
    width:60px;
    height:25px;
}

span{
    font-size: 20px;
    margin-right:5px;
}
